.navbar-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 3.5em;
    width: 100%;
    background-color: var(--primary-navbar-color);

    button {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 36px;
        padding: 0 1em;
        border-radius: 30px;
        font-family: var(--main-font-family-bold);
        font-size: .875rem;
        color: white;
        border: 0px solid black;
    }

    .navbar-left-part {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;

        .material-symbols-outlined {
            height: 19px;
        }

        .navbar-first-item {
            color: #03a5c1;
        }

        .navbar-first-item:hover {
            color: white;
        }

        img {
            height: 25px;
        }

        ul {
            display: flex;
            align-items: center;
            flex-direction: row;
            list-style: none;
            margin-right: 10%;
            gap: 10px;
            padding-left: 10px;

            li {
                a {
                    display: flex;
                    font-family: var(--main-font-family-bold);
                    font-size: .875rem;
                    text-decoration: none;
                    color: rgb(221, 219, 219);
                    white-space: nowrap;
                }

                a:hover {
                    color: white;
                }
            }

            button {
                background-color: var(--primary-navbar-color);
                color: rgb(221, 219, 219);
                padding: 5px;
                white-space: nowrap;
            }

            button:hover {
                background-color: rgb(99, 99, 99);
                color: white;
                transition: 0.2s;
            }
        }

        .vanish-appear-menu {
            display: none;
        }

        @media screen and (max-width: 1023px) {

            .vanish-appear-menu {
                display: block;
            }

            .vanish-appear-list {
                display: none;
            }
        }

        @media screen and (max-width: 767px) {
            .vanish-appear-menu {
                display: none;
            }
        }

    }

    @media screen and (max-width: 1023px) {

        .navbar-left-part {
            justify-content: flex-start;
            margin-left: 10px;
        }
    }

    .navbar-right-part {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        gap: 10px;
        width: 100%;

        .navbar-search {

            input {
                width: 300px;
                height: 28px;
                font-family: var(--main-font-family);
                font-size: .875rem;
                line-height: 1.25rem;
                padding-left: 40px;
                border-radius: 30px;
                border-color: transparent;
            }

            input:focus {
                outline: none;
                transition: 0.2s;
                border: 1px solid white;
                box-shadow: 0 0 0 5px #03a5c1;
            }

            input::placeholder {
                color: rgb(128, 128, 128);
            }

            span {
                position: absolute;
                margin-left: 10px;
                margin-top: 10px;
                color: rgb(153, 153, 153);
            }

            .navbar-search-icon {
                margin: 5px;
            }
        }

        .connexion-button {
            background-color: var(--secondary-bg-color);
        }

        .connexion-button:hover {
            background-color: rgb(110, 110, 110);
            box-shadow: 0 0 0 1px rgb(110, 110, 110);
            transition: 0.5s;
        }

        .post-button {
            background-color: var(--third-bg-color);
            margin-right: 10px;
        }

        .post-button:hover {
            background-color: #4ebbce;
            box-shadow: 0 0 0 1px #4ebbce;
            transition: 0.5s;
        }
    }

    @media screen and (max-width: 1149px) {

        .navbar-right-part {
            justify-content: flex-end;

            .vanish-action {
                display: none;
            }

            .connexion-button {
                width: 36px;
            }

            .post-button {
                width: 36px;
                margin-right: 10px;
            }

            input {
                width: 100%;
            }
        }
    }
}