.modal-connexion-content {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    width: 650px;
    height: 700px;

    .modal-connexion-left-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f6f7f9;

        background-size: 500px;
        width: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        .modal-connexion-left-part-logo {
            height: 150px;
        }

        .modal-connexion-left-part-top {
            display: flex;
            align-self: flex-start;
            font-family: var(--main-font-family-bold);
            color: #bfc3c8;
            font-size: 1.1rem;
            padding-left: 10px;
            padding-top: 10px;
        }

        .modal-connexion-left-part-bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding-left: 35px;
            padding-right: 35px;
            background-image: url("./img/items_ef7a3.svg");
            background-repeat: no-repeat;
            height: 100%;

            h1 {
                text-align: center;
                font-size: 1.5em;
            }

            h2 {
                font-family: var(--main-font-family-bold);
                text-align: center;
                font-size: 1em;
                color: #5a5d62;
            }

            a {
                font-family: var(--main-font-family-bold);
                text-decoration: none;
                color: #03a5c1;
            }

            a:hover {
                text-decoration: underline;
            }

            button {
                background-color: #f6f7f9;
                color: rgb(97, 97, 97);
                width: 100%;
            }

            button:hover {
                background-color: #e9eaed;
            }
        }
    }

    .modal-connexion-right-part {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 100%;

        h2 {
            font-size: 1.25rem;
            line-height: 1.75rem;
            margin-left: 0px;
        }

        .modal-connexion-right-part-top {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .button-closed-modal {
                background-color: white;
                color: black;
            }
        }

        .modal-connexion-right-middle-part {

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border: 1px solid #b3b5b9;
                border-radius: 20px;
                padding: 7px;
                margin-top: 2px;
                margin-bottom: 2px;
                text-align: center;
                text-decoration: none;
                font-size: .875rem;
                transition: .5s;

                span {
                    font-family: var(--main-font-family-bold);
                    color: rgb(90, 93, 98);
                }
            }

            a:hover {
                background-color: #f6f7f9;
                border-color: #5a5d62;
                ;
            }

            ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 0;
            }
        }

        .modal-connexion-right-part-bottom {

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                list-style: none;
                padding: 0;

                li {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 100%;
                }
            }

            .modal-input-email-pass {
                margin-top: 5px;
                margin-bottom: 5px;
                margin-bottom: 20px;
                padding-left: 15px;
                height: 35px;
                width: 300px;
                border: 1px solid rgb(209, 213, 219);
                border-radius: 10px;
                transition: 0.3s;
            }

            input::placeholder {
                color: rgb(155, 155, 155);
            }

            .modal-input-email-pass:hover {
                border-color: rgb(153, 153, 153);
            }


            .modal-connexion-checkbox {

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                span {
                    font-family: var(--main-font-family-bold);
                    color: #9a9b9b;
                    font-size: 0.9rem;
                    white-space: nowrap;
                }

                input {
                    width: 20px;
                }
            }

            label {
                font-family: var(--main-font-family-bold);
                color: #626363;
                font-size: 0.9rem;
            }

            button {
                margin-top: 50px;
                background-color: rgb(3, 165, 193);
                transition: 0.5s;
            }

            button:hover {
                background-color: #36b7cd;
                box-shadow: 0 0 0 0.5px #03a5c1;
            }
        }
    }
}